fastapi
uvicorn
python-multipart
requests
transformers
pillow
opencv-python-headless
scikit-learn
pandas
pytest
httpx
xgboost
sqlalchemy
pymysql
onnxmltools
onnxconverter-common
python-dotenv
pandas-stubs
onnxruntime
scipy
sentencepiece
soundfile
datasets
fastapi
uvicorn
langchain
langchain-huggingface
transformers
torch>=2.6.0
accelerate
matplotlib
seaborn
flake8
Black
jaraco.context>=6.1.0