fastapi
uvicorn
python-multipart
requests
transformers
torch
pillow
opencv-python-headless
scikit-learn
pandas
pytest
httpx
xgboost
sqlalchemy
pymysql
onnxmltools
onnxconverter-common
python-dotenv
pandas-stubs
onnxruntime